* {
    color: black;
    text-align: left;
}

ul {
    /* Remover marcadores, margem e padding da lista */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    /* Posicionar munu no inicio da pagina */
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    color: darkred;
}
li a:hover {
    background-color: grey;
    color:white;
}

li:last-child {
    border-right: none;
}
